<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quora Posts</title>
    <link href="/output.css" rel="stylesheet"> <!-- (--watch) is making issue -->
</head>
<body class="m-5 font-serif">

    <p class="text-6xl text-red-700 mt-4 mb-6 text-center font-bold">Quora Post</p>

    <div class="flex flex-wrap justify-start space-x-6">
            <% data.forEach((post) => { %>
            <div class="my-3 p-3 bg-amber-200 text-xl max-w-[350px] min-h-[250px] shadow-md rounded-xl relative">
                <p class="italic font-semibold">@<%= post.username %></p>
                <p><%= post.content %></p>
               <div class="features">
                 <p class="absolute bottom-1 hover:underline"><a href="/post/<%= post._id %>">View</a></p>
                 <p class="absolute bottom-1 right-[10rem] hover:underline"><a href="/post/edit/<%= post._id %>">Edit</a></p>
                 <p class="mb-9 mt-3">Created At : <%= (post.createdAt).toString().slice(0, 15) %></p>
                 <form action="/post/<%= post._id %>?_method=DELETE" method="POST">
                    <button class="absolute bottom-1 right-3 hover:underline cursor-pointer">Delete</button>
                 </form>
               </div>
            </div>
            <% }) %>
    </div>

    <a href="/post/new" class="block my-4 p-1 hover:underline text-red-700 text-2xl ">Create New Post</a>

</body>
</html>